form {
	border: 3px solid red; 
	width: 550px;
  margin:15px;
}


*{
  box-sizing: border-box;
 }

.fstyle{
  width: 100%;
  height: 50px;
  padding: 4px 2px;   /* top, bottom padding 12px and left,right padding 20px */
  margin: 8px 0;
  border: 1px solid blue;
  font-size: 15px;

}



button, input[type=submit] {
  background-color: #4CAF50;;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  
}
button:hover, input[type=submit]:hover {
  opacity: 0.8;
}


.container {

  padding: 16px;
  width: 500px;
}
